.App-fullscreen {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  height: auto;
  z-index: 9;
}
html1 {
    background-color: rgba(7,9,208,0.5);
}

html {
    background: url("i/bg1.png");
          no-repeat center center fixed;
}